//variables
$color_1: #000000;
$color_2: #59331d;
$color_3: white;
$color_4: #d98555;
$color_5: #f2f2f2;
$main-font: 'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$background-color_1: #082B59;
$background-color_2: #ffffff;
$background-color_3: #59331D;
$background-color_4: #f2f2f2;
$corners: 10px;
